:root {
    --shadow-color: rgba(0, 0, 0, 0.15);
    --nav-bg-color: white;
    --nav-text-color: black;
    --nav-link-inactive: rgba(225, 225, 225, 0.63);
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: stretch;
    justify-items: center;
    height: 78px;
    font-weight: 600;
    z-index: 100;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    box-shadow: 0 0 4px var(--shadow-color);
}

.box {
    box-shadow: 0 0 4px var(--shadow-color);
    border-radius: 6px;
}

.nav-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: initial;
    justify-content: center;
    width: 4%;
}

.nav-name {
    horiz-align: center;
    border-right: 1px solid var(--shadow-color);
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.nav-elem {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    z-index: -1;
    margin: 10px 160px;
    display: flex;
    height: 90vh;
    flex-grow: 1;
    overflow: hidden;
}

article, aside, footer {
    padding: 25px;
    margin: 8px;
    flex-grow: 1;
    background-color: white;
}

article {
    background-image: url("img/web-icon.jpg");
    background-repeat: no-repeat;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 40px;
    /*background-blend-mode: overlay;*/
    /*background-position: center;*/
}

article img {
    border-radius: 6px;
}

article p,
article li {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 0.5em;
}

article a, footer a {
    text-decoration: underline;
    color: var(--inactive-article-link-color);
}

aside {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

aside img {
    width: 163px;
    height: 84px;
    opacity: 40%;
    transition: opacity 0.5s;
}

aside:hover img {
    opacity: 100%;
}

footer button {
    padding: 8px 25px;
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.5s;
}

footer button:hover {
    background-color: #e7e7e7;
}

.start-point {
    display: inline-block;
}

.img-left {
    float: left;
    margin-right: 20px;
    margin-bottom: auto;
}

.side-panel {
    min-width: 25%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 40%;
    transition: opacity 0.5s;
}

.side-panel:hover {
    opacity: 100%;
}

#start {
    margin-top: 0;
}